<app-header></app-header>
<main class="registro container-fluid">
  <div class="row">
    <section class="registro__image col-lg-6"></section>
    <section class="registro__form col-lg-6 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="registro__card col-sm-6 offset-sm-3 my-5">
          <div class="registro__card-header">
            <p class="registro__card-title text-center">Crear cuenta</p>
          </div>
          <div class="registro__card-body">
            <form class="needs-validation" novalidate [formGroup]="registroForm">
              <div class="mb-3">
                <label for="name" class="registro__card-label form-label">Nombre</label>
                <input formControlName="name" type="text" class="registro__card-control form-control" id="name"
                  name="name" required />
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-message mt-1">
                  <div *ngIf="name.errors?.['required']">Introduzca su nombre</div>
                  <div *ngIf="name.errors?.['maxlength']">Nombre demasiado largo</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="surname" class="registro__card-label form-label">Apellidos</label>
                <input formControlName="surname" type="text" class="registro__card-control form-control" id="surname"
                  name="surname" required />
                  <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="text-message mt-1">
                    <div *ngIf="surname.errors?.['required']">Introduzca sus apellidos</div>
                    <div *ngIf="surname.errors?.['maxlength']">Apellidos demasiado largos</div>
                  </div>
              </div>
              <div class="mb-3">
                <label for="phone" class="registro__card-label form-label">Teléfono</label>
                <input formControlName="phone" type="text" class="registro__card-control form-control" id="phone" required />
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-message mt-1">
                  <div *ngIf="phone.errors?.['required']">Introduzca su teléfono</div>
                  <div *ngIf="phone.errors?.['pattern']">Introduzca 9 dígitos numéricos</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="registro__card-label form-label">Email</label>
                <input formControlName="email" type="email" class="registro__card-control form-control" id="email"
                  name="email" required />
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-message mt-1">
                    <div *ngIf="email.errors?.['required']">Introduzca su email</div>
                    <div *ngIf="email.errors?.['email']">Debe tener formato email</div>
                  </div>
              </div>
              <div class="mb-5">
                <label for="password" class="registro__card-label form-label">Contraseña</label>
                <input formControlName="password" type="password" class="registro__card-control form-control"
                  id="password" name="password" required />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-message mt-1">
                    <div *ngIf="password.errors?.['required']">Introduzca su contraseña</div>
                  </div>
                  <div class="text-message mt-4 text-center">{{registroError}}</div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="registro__card-submit btn btn-secondary" type="submit" (click)="formSubmit()" (click)="showSpinner()">
                    Crear cuenta
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<ngx-spinner bdColor = "rgba(0,0,0,0.4)" size = "medium" color = "#272a57" type = "ball-square-spin" [fullScreen] = "true"></ngx-spinner>
<app-top-button></app-top-button>