<header class="header container-fluid">
    <div class="row d-lg-flex align-items-lg-center">
        <div class="header__logo col-lg-2">
            <a href="">
                <img src="../../../assets/img/logo.svg" alt="logo" class="logo img-fluid ms-lg-2">
            </a>
        </div>
        <nav class="navigation navbar navbar-expand-lg col-lg-6">
            <a class="navigation__logo navbar-brand" href="">
                <img src="../../../assets/img/logo.svg" alt="logo" class="logo img-fluid ms-4">
            </a>
            <button class="navigation__hamburguer navbar-toggler me-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navigation__content collapse navbar-collapse d-lg-flex justify-content-lg-around"
                id="navbarNavAltMarkup">
                <div class="navigation__links navbar-nav">
                    <a class="navigation__link nav-link text-center hidden" href="/login">Iniciar sesión</a>
                    <a class="navigation__link nav-link hidden ms-lg-3 text-center" href="/registro">Crear cuenta</a>
                </div>
            </div>
        </nav>
        <div class="header__buttons col-lg-4">
            <a class="header__btn btn btn-primary" href="/login">Iniciar sesión</a>
            <a class="header__btn btn btn-primary ms-lg-2 me-lg-4" href="/registro">Crear cuenta</a>
        </div>
    </div>
</header>
