<app-header></app-header>
<main class="pay container-fluid">
    <div class="container-xl">
        <div class="pay__title pt-4">
            <div class="pay__title-text">Confirmación y pago</div>
        </div>
        <div class="container xl">
            <div class="row mt-4">
                <section class="pay__book-details col-md-6 pb-3">
                    <div class="pay__book-details-title">
                        <div class="pay__book-details-text">Detalles de la reserva</div>
                    </div>
                    <div class="pay__book-details-holder mt-2">
                        <div class="pay__book-details-info">Titular</div>
                    </div>
                    <div class="pay__book-details-holder">
                        <div class="pay__book-details-value">{{ decodedToken?.name }} {{ decodedToken?.surname }}</div>
                    </div>
                    <div class="pay__book-details-holder mt-2">
                        <div class="pay__book-details-info">Teléfono</div>
                    </div>
                    <div class="pay__book-details-holder">
                        <div class="pay__book-details-value">{{ decodedToken?.phone }}</div>
                    </div>
                    <div class="pay__book-details-email mt-2">
                        <div class="pay__book-details-info">Email</div>
                    </div>
                    <div class="pay__book-details-email">
                        <div class="pay__book-details-value">{{ decodedToken?.email }}</div>
                    </div>
                    <div class="pay__book-details-arrival mt-2">
                        <div class="pay__book-details-info">Fecha de entrada</div>
                    </div>
                    <div class="pay__book-details-arrival">
                        <div class="pay__book-details-value">{{this.bookStart | date:'dd/MM/yyyy' }}</div>
                    </div>
                    <div class="pay__book-details-exit mt-2">
                        <div class="pay__book-details-info">Fecha de salida</div>
                    </div>
                    <div class="pay__book-details-exit">
                        <div class="pay__book-details-value">{{this.bookEnd | date:'dd/MM/yyyy' }}</div>
                    </div>
                    <div class="pay__book-details-people mt-2">
                        <div class="pay__book-details-info">N° personas</div>
                    </div>
                    <div class="pay__book-details-people">
                        <div class="pay__book-details-value">{{this.bookPeople}}</div>
                    </div>
                    <div class="pay__book-details-total mt-2">
                        <div class="pay__book-details-info">Total</div>
                    </div>
                    <div class="pay__book-details-total">
                        <div class="pay__book-details-value">{{ diferenciaEnDias() *  accoUnit.price}}€</div>
                    </div>
                </section>
                <section class="pay__accomm-details col-md-6">
                    <div class="ms-lg-5">
                        <div class="pay__accomm-details-title">
                            <div class="pay__accomm-details-text">Detalles del alojamiento</div>
                        </div>
                        <div class="pay__accomm-details-name mt-2">
                            <div>{{ this.accoUnit.accommodation.name}}</div>
                        </div>
                        <div class="pay__accomm-details-location">
                            <div>{{this.accoUnit.accommodation.address}} - {{this.accoUnit.accommodation.location}}</div>
                        </div>
                        <div class="pay__accomm-details-type mt-2">
                            <div class="pay__accomm-details-info">Tipo</div>
                        </div>
                        <div class="pay__accomm-details-type">
                            <div class="pay__accomm-details-value">{{this.accoUnit.category.name}}</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row mt-5">
                <div class="pay__book-form mb-4">
                    <div class="pay__book-form-title mt-3 d-flex justify-content-between">
                        <div class="pay__book-form-text">Datos de pago</div>
                        <div class="pay__book-form-cards d-flex justify-content-center align-items-center me-2" data-bs-toggle="collapse" href="#myCards" role="button" aria-expanded="false" aria-controls="mis tarjetas">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#272A57" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z"/>
                                  </svg> Mis tarjetas</div>
                        </div>
                    </div>
                    <div class="collapse col-lg-6 offset-lg-6 mt-2" id="myCards">
                        <div class="card card-body">
                            <div class="pay__book-details-info mb-2">Selecciona tarjeta:</div>
                            <div class="form-check mt-1">
                                <input class="form-check-input" type="radio" name="card">
                                <label class="pay__book-details-info form-check-label " for="card">
                                    ****-****-****-1234
                                </label>
                            </div>
                            <div class="form-check mt-1">
                                <input class="form-check-input" type="radio" name="card">
                                <label class="pay__book-details-info form-check-label " for="card">
                                    ****-****-****-5678
                                </label>
                            </div>
                        </div>
                      </div>
                    <form class="needs-validation" novalidate [formGroup]="payForm">
                        <div class="pay__book-form-informations row gx-3">
                            <div
                                class="pay__book-form-information col-lg-3 d-flex flex-column justify-content-end pt-lg-3">
                                <div class="pay__book-form-info">Titular</div>
                            </div>
                            <div
                                class="pay__book-form-information col-lg-3 d-flex flex-column justify-content-end pt-lg-3">
                                <div class="pay__book-form-info">N° tarjeta</div>
                            </div>
                            <div class="pay__book-form-information col-lg-2 d-flex flex-column justify-content-end">
                                <div class="pay__book-form-info">Caducidad</div>
                            </div>
                            <div class="pay__book-form-information col-lg-2 d-flex flex-column justify-content-end">
                                <div class="pay__book-form-info">CVC</div>
                            </div>
                        </div>
                        <div class="row gx-3">
                            <div class="pay__book-form-controls col-lg-3 mt-2">
                                <div class="pay__book-form-hidden">Titular</div>
                                <input type="text" class="pay__book-form-control form-control" formControlName="owner" id="owner" name="owner" required>
                                <div *ngIf="owner.invalid && (owner.dirty || owner.touched)" class="text-message mt-1 pb-lg-4">
                                    <div *ngIf="owner.errors?.['required']">Introduzca titular</div>
                                </div>
                            </div>
                            <div class="pay__book-form-controls col-lg-3 mt-2">
                                <div class="pay__book-form-hidden">N° tarjeta</div>
                                <input type="text" class="pay__book-form-control form-control" formControlName="cardNumber" id="cardNumber" name="cardNumber" required>
                                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="text-message mt-1 pb-lg-4">
                                    <div *ngIf="cardNumber.errors?.['required']">Introduzca número de tarjeta</div>
                                    <div *ngIf="cardNumber.errors?.['pattern']">Introduzca 16 dígitos numéricos</div>
                                </div>
                            </div>
                            <div class="pay__book-form-controls col-lg-2 mt-2">
                                <div class="pay__book-form-hidden">Caducidad</div>
                                <input type="text" class="pay__book-form-control form-control" formControlName="cardExpiration" id="cardExpiration" name="cardExpiration" required>
                                <div *ngIf="cardExpiration.invalid && (cardExpiration.dirty || cardExpiration.touched)" class="text-message mt-1 pb-lg-4">
                                    <div *ngIf="cardExpiration.errors?.['required']">Introduzca caducidad</div>
                                    <div *ngIf="cardExpiration.errors?.['pattern']">Formato inválido (dd/dd)</div>
                                </div>
                            </div>
                            <div class="pay__book-form-controls col-lg-2 mt-2">
                                <div class="pay__book-form-hidden">CVC</div>
                                <input type="text" class="pay__book-form-control form-control" formControlName="cvc" id="cvc" name="cvc" required>
                                <div *ngIf="cvc.invalid && (cvc.dirty || cvc.touched)" class="text-message mt-1 pb-lg-4">
                                    <div *ngIf="cvc.errors?.['required']">Introduzca CVC</div>
                                    <div *ngIf="cvc.errors?.['pattern']">Formato inválido (ddd)</div>
                                </div>
                            </div>
                            <div class="pay__book-form-controls col-lg-2 pb-4 mt-4 mt-lg-2">
                                <button class="consulta__form-submit btn btn-secondary" type="submit">PAGAR</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<ngx-spinner bdColor = "rgba(0,0,0,0.4)" size = "medium" color = "#272a57" type = "ball-square-spin" [fullScreen] = "true"></ngx-spinner>
