<app-header></app-header>
<main class="login container-fluid">
    <div class="row">
        <section class="login__image col-lg-6">
        </section>
        <section class="login__form col-lg-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="login__card col-sm-6 offset-sm-3">
                    <div class="login__card-header">
                        <p class="login__card-title text-center">Iniciar sesión</p>
                    </div>
                    <div class="login__card-body">
                        <form class="needs-validation" novalidate [formGroup]="loginForm">
                            <div class="mb-3">
                                <label for="user" class="login__card-label form-label">Usuario</label>
                                <input type="email" class="login__card-control form-control" id="user" formControlName="email" required>
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-message mt-1">
                                    <div *ngIf="email.errors?.['required']">Introduzca su usuario</div>
                                    <div *ngIf="email.errors?.['email']">El usuario debe tener formato email</div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="password" class="login__card-label form-label">Contraseña</label>
                                <input type="password" class="login__card-control form-control" id="password" formControlName="password" required>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-message mt-1">
                                    <div *ngIf="password.errors?.['required']">Introduzca su contraseña</div>
                                </div>
                                <div class="text-message mt-4 text-center">{{loginError}}</div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="login__card-submit btn btn-secondary" type="submit" (click)="login()" (click)="showSpinner()">Iniciar sesión</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
        </section>
    </div>
</main>
<ngx-spinner bdColor = "rgba(0,0,0,0.4)" size = "medium" color = "#272a57" type = "ball-square-spin" [fullScreen] = "true"></ngx-spinner>
<app-top-button></app-top-button>