<app-header></app-header>
<main class="faqs">
    <section class="faqs__accordion container-xl">
        <div class="row my-5" id="faqs">
                <div class="faqs__accordion-title fw-bolder ps-3">FAQs / Preguntas frecuentes</div>
                <div class="accordion mt-3" id="accordionFirst">
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#primera" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                ¿Es necesario registrarse en Aloha para poder reservar alojamiento?
                            </button>
                        </div>
                        <div id="primera" class="accordion-collapse collapse show" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Sí, es necesario registrarse en Aloha para poder reservar alojamiento. El registro es
                                    gratuito y te permitirá acceder a todas las funcionalidades de la plataforma.</p>
                                <p>Para registrarte, haz clic en el botón "Crear cuenta", ubicado en la esquina superior
                                    derecha de la página principal. A continuación, rellena el formulario con tus datos
                                    personales y haz clic en "Crear cuenta".</p>
                                <p>Una vez registrado/a, podrás acceder a tu perfil de usuario, donde podrás gestionar tus
                                    reservas, modificar tus datos personales y gestionar tus reservas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#segunda" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                ¿Puedo almacenar mis credenciales de inicio de sesión?
                            </button>
                        </div>
                        <div id="segunda" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                Sí, puedes almacenar tus credenciales de inicio de sesión en Aloha. Para ello, marca la casilla "Recordar mis credenciales" en el formulario de inicio de sesión. De esta forma, tus credenciales se almacenarán en tu equipo durante un año y no tendrás que introducirlas cada vez que accedas a la plataforma, salvo que borres las cookies de tu navegador.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#tercera" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Una vez registrado/a, ¿puedo eliminar mi cuenta?
                            </button>
                        </div>
                        <div id="tercera" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Sí, una vez regitrado/a en Aloha puedes eliminar tu cuenta desde tu perfil de usuario, clicando encima de la papelera ubicada en la sección "Mi cuenta". Esta acción es irreversible.</p>
                                <p>Si eliminas tu cuenta, aun cuando las reservas que hayas formalizado se mantengan vigentes con el alojamiento en cuestión, tanto tú como Aloha perderán el acceso a la información relativa a dichas reservas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#cuarta" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Una vez registrado/a, ¿puedo modificar mi información de usuario?
                            </button>
                        </div>
                        <div id="cuarta" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                            Sí, una vez registrado/a en Aloha puedes modificar la información de tu cuenta desde tu perfil de usuario. Para ello, haz clic en las herramientas ubicadas al lado de tu información en la sección "Mi cuenta" y modifica los datos que desees cambiar. Una vez realizados los cambios, haz clic en "Guardar cambios" y confirma la modificación introduciendo tu contraseña.    
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#quinta" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                ¿Cómo puedo acceder a información específica de un alojamiento?
                            </button>
                        </div>
                        <div id="quinta" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Puedes acceder a información específica de un alojamiento siguiendo estos pasos:</p>
                                <ol>
                                    <li>Inicia sesión en Aloha con tus credenciales.</li>
                                    <li>Accede a la página principal de Aloha.</li>
                                    <li>Introduce en el buscador la ciudad o localidad en la que deseas alojarte, las fechas de tu estancia, el número de personas y el tipo de alojamiento.</li>
                                    <li>Selecciona el alojamiento que más te interese y haz clic encima del nombre del alojamiento.</li>
                                    <li>En la ventana de detalle del alojamiento encontrarás información específica sobre el mismo, como su nombre, dirección, descripción, imágenes y las características del alojamiento.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#sexta" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                ¿Cómo puedo formalizar la reserva de un alojamiento?
                            </button>
                        </div>
                        <div id="sexta" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Puedes formalizar la reserva de un alojamiento siguiendo estos pasos:</p>
                                <ol>
                                    <li>Inicia sesión en Aloha con tus credenciales.</li>
                                    <li>Accede a la página principal de Aloha.</li>
                                    <li>Introduce en el buscador la ciudad o localidad en la que deseas alojarte, las fechas de tu estancia, el número de personas y el tipo de alojamiento.</li>
                                    <li>Selecciona el alojamiento que más te interese y haz clic en "Alóhame" (encontrarás también esta opción en la ventana de detalle del alojamiento que más te interese).</li>
                                    <li>Introduce los datos de pago y haz clic en "Pagar".</li>
                                    <li>Una vez formalizada la reserva, podrás verificar la misma desde tu perfil de usuario.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#septima" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Formalizada una reserva, ¿puedo cancelarla?
                            </button>
                        </div>
                        <div id="septima" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Sí, puedes cancelar una reserva formalizada en Aloha. Para ello, sigue estos pasos:</p>
                                <ol>
                                    <li>Inicia sesión en Aloha con tus credenciales.</li>
                                    <li>Accede a tu perfil de usuario.</li>
                                    <li>Localiza la reserva que deseas cancelar y haz clic en la papelera ubicada en el extremo derecho de la reserva en cuestión.</li>
                                    <li>Confirma la cancelación de la reserva.</li>
                                </ol>
                                <p>Como norma general, las cancelaciones de reservas implican la pérdida del importe abonado en el momento de la formalización de la misma. Por tanto, te recomendamos que, antes de cancelar la reserva valores el alcance de dicha decisión.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="faqs__accordion-button-title accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#octava" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                ¿Almacena Aloha mis datos de pago?
                            </button>
                        </div>
                        <div id="octava" class="accordion-collapse collapse" data-bs-parent="#accordionFirst">
                            <div class="faqs__accordion-button-content accordion-body">
                                <p>Sí, Aloha almacena tus datos de pago para facilitar la formalización de reservas. Cada vez que introduces información relativa al pago en la plataforma, dicha información se almacena si Aloha no tuviere constancia de la misma, pudiendo acceder a dicha información desde el apartado "Mis tarjetas" en la ventana de pago.</p>
                                <p>Si deseas eliminar la información de alguna de tus tarjetas que Aloha haya almacenado, puedes hacerlo desde el apartado "Mis tarjetas" de la pantalla de pago cuando pretendas formalizar alguna reserva.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
<app-top-button></app-top-button>
